<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".LibrariesActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.RxEventBusActivity" />
        <activity android:name=".activity.LiveEventBusActivity" />
        <activity android:name=".activity.FlowEventBusActivity" />
        <activity android:name=".activity.NinePatchActivity" />
    </application>
</manifest>