<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".RoomActivity" />
        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.PagingActivity" />
    </application>

</manifest>